body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app{
    background: #75a478;
    height: 90vh;
    width: 90vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px; 
    border: 10px solid #75a478;
}

.grid-element{
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player{
    margin: 0;
    width: 100%;
    height: auto;
}